@import "bootstrap";
@import "bootstrap-responsive";
@import "bootstrap-cer";

html {
  overflow-y: scroll;
}

body {
  padding-top: 60px;
}

.center {
  text-align: center;
}

.alert {
  margin-top: 15px;
}
#ll-logo-img {
  float: left;
  padding-right: 16px;
  padding-top: 8px;
}
.home-logo {
  padding-top: 55px;
}
.home-instructions {
  width:450px;
  margin:auto;
}

.left-cell {
  text-align: right;
  width: 150px;
  display: inline-block;
}
.right-cell {
  text-align: left;
  width: 150px;
  display: inline-block;
}

.nowrap {
  white-space:nowrap;
}

.reward-image {
  width:50px;
  float:left;
  display: inline-block;
}
.reward-text{
  max-width:400px;
  min-width:200px;
  display: inline-block;
}
.reward-points{
  width:50px;
  display: inline-block;
}
.reward-separator{
  width:300px;
  margin:auto;
  padding-bottom:10px;
}

.button-div {
  padding:10px 0;
}

.print-signup{
  .qr{
    margin-top:10px;
  }
  .signup_link{
    margin-top:10px;
  }
  .powered-by{
    margin-top:20px;
    font-size:.8em;
  }
}
