@import "bootstrap";
@import "bootstrap-responsive";

.center {
  text-align: center;
  }

.left-cell {
  text-align: right;
  width: 150px;
  display: inline-block;
}
.right-cell {
  text-align: left;
  width: 150px;
  display: inline-block;
}

.reward-container {
  white-space:nowrap;
}
.reward-image {
  width:55px;
  float:left;
}
.reward-text{
  float:left;
  width:60%;
  min-width:100px;
}
.reward-points{
  width:50px;
  float:left;
}
.button-div {
  padding-top:10px;
}
