@import "bootstrap";
@import "bootstrap-responsive";

.center {
  text-align: center;
  }

.right {
  text-align: right;
}
.border {
  /*border:1px solid red;*/
}
.reward_container {
  white-space:nowrap;
}
.reward_image {
  width:55px;
  float:left;
}
.reward_text{
  float:left;
  width:60%;
  min-width:100px;
}
.reward_points{
  width:50px;
  float:left;
}

.half {
  float: left !important;
  width: 45% !important;
  padding: 0 5px;
  }


